@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
  width: 80%;
  transition: all;
  
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}